
body{
background-color:black;
color:white;
margin:0%;
margin:0%;
text-align:left;
vertical-align:top;
font-family:verdana, sans-serif;
}
td.folderOpen{
background-image:url('/style/bw/folderOpen.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:20px;
vertical-align:top;
}
td.folderClosed{
background-image:url('/style/bw/folderClosed.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:20px;
font-size:14px;
vertical-align:top;
}
td.minusNode{
background-image:url('/style/bw/minusNode.gif');
cursor:pointer;    
}
td.lastMinusNode{
background-image:url('/style/bw/lastMinusNode.gif');
cursor:pointer;    
}
td.plusNode{
background-image:url('/style/bw/plusNode.gif');
cursor:pointer;    
}
td.lastPlusNode{
background-image:url('/style/bw/lastPlusNode.gif');
cursor:pointer;    
}
td.node{
background-image:url('/style/bw/node.gif');
cursor:pointer;
font-size:14px;
height:20px;

}
td.submenuDeco{
background-image:url('/style/bw/vertLine.gif');
background-repeat:repeat-y;
}
td.lastNode{
background-image:url('/style/bw/lastNode.gif');
background-repeat:no-repeat;
cursor:pointer;
font-size:14px;
height:20px;
}
a.treeviewLink{
font-size:14px;
height:20px;
color:white;
}
a.treeviewLink:hover{
font-size:14px;
height:20px;
color:red;
}
