body{
margin:0%;
margin:0%;
text-align:left;
vertical-align:top;
font-family:verdana, sans-serif;
}
td.folderOpen{
background-image:url('/style/simple/folderOpen.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:20px;
vertical-align:top;
}
td.folderClosed{
background-image:url('/style/simple/folderClosed.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:20px;
height:20px;
font-size:14px;
vertical-align:top;
}
td.minusNode{
background-image:url('/style/simple/minusNode.gif');
cursor:pointer;
}
td.lastMinusNode{
background-image:url('/style/simple/lastMinusNode.gif');
cursor:pointer;
}
td.plusNode{
background-image:url('/style/simple/plusNode.gif');
cursor:pointer;
}
td.lastPlusNode{
background-image:url('/style/simple/lastPlusNode.gif');
cursor:pointer;
height:20px;
}
td.node{
background-image:url('/style/simple/node.gif');
cursor:pointer;
font-size:14px;
height:20px;

}
td.submenuDeco{
background-image:url('/style/simple/vertLine.gif');
background-repeat:repeat-y;
}
td.lastNode{
background-image:url('/style/simple/lastNode.gif');
background-repeat:no-repeat;
cursor:pointer;
font-size:14px;
height:20px;

}
a.treeviewLink{
font-size:14px;
height:20px;
}
a.treeviewLink:hover{
font-size:14px;
height:20px;
color:red;
}
