body{
color:black;
/*margin:0%;
margin:0%;*/
text-align:left;
vertical-align:top;
font-family:verdana, sans-serif;
}

td.folderOpen{
background-image:url('/style/Crystalm/folderOpen.gif');
background-repeat:no-repeat;
color:black;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:20px;
vertical-align:top;
}
td.folderClosed{
background-image:url('/style/Crystalm/folderClosed.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:20px;
color:black;
vertical-align:top;
}
td.folderMan{
background-image:url('/style/Crystalm/folderMan.gif');
background-repeat:no-repeat;
color:black;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:20px;
vertical-align:top;
}
td.folderManClosed{
background-image:url('/style/Crystalm/folderMan.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:20px;
color:black;
vertical-align:top;
}
td.folderHtml{
background-image:url('/style/Crystalm/folderHtml.gif');
background-repeat:no-repeat;
color:black;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:20px;
vertical-align:top;
}
td.folderHtmlClosed{
background-image:url('/style/Crystalm/folderHtml.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:20px;
color:black;
vertical-align:top;
}
td.folderFavorite{
background-image:url('/style/Crystalm/folderFavorite.gif');
background-repeat:no-repeat;
color:black;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:20px;
vertical-align:top;
}
td.folderFavoriteClosed{
background-image:url('/style/Crystalm/folderFavorite.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:20px;
color:black;
vertical-align:top;
}
td.folderText{
background-image:url('/style/Crystalm/folderText.gif');
background-repeat:no-repeat;
color:black;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:20px;
vertical-align:top;
}
td.folderTextClosed{
background-image:url('/style/Crystalm/folderText.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:20px;
color:black;
vertical-align:top;
}
td.folderLocked{
background-image:url('/style/Crystalm/folderLocked.gif');
background-repeat:no-repeat;
color:black;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:20px;
vertical-align:top;
}
td.folderLockedClosed{
background-image:url('/style/Crystalm/folderLocked.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:20px;
color:black;
vertical-align:top;
}
td.folderCrystal{
background-image:url('/style/Crystalm/folderCrystal.gif');
background-repeat:no-repeat;
color:black;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:20px;
vertical-align:top;
}
td.folderCrystalClosed{
background-image:url('/style/Crystalm/folderCrystal.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:20px;
color:black;
vertical-align:top;
}
td.folderVideo{
background-image:url('/style/Crystalm/folderVideo.gif');
background-repeat:no-repeat;
color:black;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:20px;
vertical-align:top;
}
td.folderVideoClosed{
background-image:url('/style/Crystalm/folderVideo.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:20px;
color:black;
vertical-align:top;
}
td.folderPrint{
background-image:url('/style/Crystalm/folderPrint.gif');
background-repeat:no-repeat;
color:black;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:20px;
vertical-align:top;
}
td.folderPrintClosed{
background-image:url('/style/Crystalm/folderPrint.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:20px;
color:black;
vertical-align:top;
}
td.folderSentMail{
background-image:url('/style/Crystalm/folderSentMail.gif');
background-repeat:no-repeat;
color:black;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:20px;
vertical-align:top;
}
td.folderSentMailClosed{
background-image:url('/style/Crystalm/folderSentMail.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:20px;
color:black;
vertical-align:top;
}
td.folderImage{
background-image:url('/style/Crystalm/folderImage.gif');
background-repeat:no-repeat;
color:black;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:20px;
vertical-align:top;
}
td.folderImageClosed{
background-image:url('/style/Crystalm/folderImage.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:20px;
color:black;
vertical-align:top;
}
td.folderSound{
background-image:url('/style/Crystalm/folderSound.gif');
background-repeat:no-repeat;
color:black;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:20px;
vertical-align:top;
}
td.folderSoundClosed{
background-image:url('/style/Crystalm/folderSound.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:20px;
color:black;
vertical-align:top;
}
td.folderImportant{
background-image:url('/style/Crystalm/folderImportant.gif');
background-repeat:no-repeat;
color:black;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:20px;
vertical-align:top;
}
td.folderImportantClosed{
background-image:url('/style/Crystalm/folderImportant.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:20px;
color:black;
vertical-align:top;
}
td.folderTar{
background-image:url('/style/Crystalm/folderTar.gif');
background-repeat:no-repeat;
color:black;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:20px;
vertical-align:top;
}
td.folderTarClosed{
background-image:url('/style/Crystalm/folderTar.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:20px;
color:black;
vertical-align:top;
}
td.minusNode{
background-image:url('/style/Crystalm/minusNode.gif');
cursor:pointer;    
}
td.lastMinusNode{
background-image:url('/style/Crystalm/lastMinusNode.gif');
cursor:pointer;    
}
td.plusNode{
background-image:url('/style/Crystalm/plusNode.gif');
cursor:pointer;    
}
td.lastPlusNode{
background-image:url('/style/Crystalm/lastPlusNode.gif');
cursor:pointer;
height:20px; 
}
td.node{
background-image:url('/style/Crystalm/node.gif');
cursor:pointer;
font-size:14px;
height:20px;
}
td.submenuDeco{
background-image:url('/style/Crystalm/vertLine.gif');
background-repeat:repeat-y;
}
td.lastNode{
background-image:url('/style/Crystalm/lastNode.gif');
background-repeat:no-repeat;
cursor:pointer;
font-size:14px;
height:20px;
}
a.treeviewLink{
font-size:14px;
color:black;
cursor:pointer;
height:20px;
}
a.treeviewLink:hover{
font-size:14px;
height:20px;
color:blue;
}
a{
font-size:14px;
color:black;
cursor:pointer;
height:20px;
}
a:hover{
font-size:14px;
height:20px;
color:blue;
}

