body{
color:black;
/*margin:0%;
margin:0%;*/
text-align:left;
vertical-align:top;
font-family:verdana, sans-serif;
}

td.folderOpen{
background-image:url('/style/system/folderOpen.gif');
background-repeat:no-repeat;
color:black;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:20px;
vertical-align:top;
}
td.folderClosed{
background-image:url('/style/system/folderClosed.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:20px;
color:black;
vertical-align:top;
}
td.minusNode{
background-image:url('/style/system/minusNode.gif');
cursor:pointer;    
}
td.lastMinusNode{
background-image:url('/style/system/lastMinusNode.gif');
cursor:pointer;    
}
td.plusNode{
background-image:url('/style/system/plusNode.gif');
cursor:pointer;    
}
td.lastPlusNode{
background-image:url('/style/system/lastPlusNode.gif');
cursor:pointer;
height:20px; 
}
td.node{
background-image:url('/style/system/node.gif');
cursor:pointer;
font-size:14px;
height:20px;
}
td.submenuDeco{
background-image:url('/style/system/vertLine.gif');
background-repeat:repeat-y;
}
td.lastNode{
background-image:url('/style/system/lastNode.gif');
background-repeat:no-repeat;
cursor:pointer;
font-size:14px;
height:20px;
}
a.treeviewLink{
font-size:14px;
color:black;
cursor:pointer;
height:20px;
}
a.treeviewLink:hover{
font-size:14px;
height:20px;
color:blue;
}
a{
font-size:14px;
color:black;
cursor:pointer;
height:20px;
}
a:hover{
font-size:14px;
height:20px;
color:blue;
}

