body{
background-color:#839dcd;
color:#eeeeee;
margin:0%;
margin:0%;
text-align:left;
vertical-align:top;
font-family:verdana, sans-serif;
}

td.folderOpen{
background-image:url('/style/plastic/folderOpen.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:20px;
vertical-align:top;
}
td.folderClosed{
background-image:url('/style/plastic/folderClosed.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:22px;
vertical-align:top;
}
td.minusNode{
background-image:url('/style/plastic/minusNode.gif');
cursor:pointer;

}
td.lastMinusNode{
background-image:url('/style/plastic/lastMinusNode.gif');
cursor:pointer;
}
td.plusNode{
background-image:url('/style/plastic/plusNode.gif');
cursor:pointer;
}
td.lastPlusNode{
background-image:url('/style/plastic/lastPlusNode.gif');
cursor:pointer;

}
td.node{
background-image:url('/style/plastic/node.gif');
cursor:pointer;
font-size:14px;
height:20px;
}
td.submenuDeco{
background-image:url('/style/plastic/vertLine.gif');
background-repeat:repeat-y;
}
td.lastNode{
background-image:url('/style/plastic/lastNode.gif');
background-repeat:no-repeat;
cursor:pointer;
font-size:14px;
height:20px;
}
a.treeviewLink{
font-size:14px;
color:#eeeeee;
}
a.treeviewLink:hover{
font-size:14px;
color:black;
}
